<div class="form-container mat-dialog-content">
   
    <h3>Student Registration</h3>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form">
        <div [ngClass]="{'first': !isSecondSectionActive, 'second': isSecondSectionActive}">
            <!-- First Section: Personal Details -->
            <div class="details personal" *ngIf="!isSecondSectionActive">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input id="name" formControlName="name" type="text" placeholder="Enter username" />
                    </div>
                    <div class="input-field">
                        <label for="contactNumber">Contact Number</label>
                        <input id="contactNumber" formControlName="contactNumber" type="tel" placeholder="Enter contact number" />
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input id="email" formControlName="email" type="email" placeholder="Enter email" />
                    </div>
                    <div class="input-field">
                        <label for="dob">Date of birth</label>
                        <input id="dob" formControlName="dob" type="date" placeholder="date of birth" />
                    </div>
                    <div class="input-field">
                        <label for="city">City</label>
                        <input id="city" formControlName="city" type="text" placeholder="Enter city" />
                    </div>
                    <div class="input-field">
                        <label for="district">District</label>
                        <input id="district" formControlName="district" type="text" placeholder="Enter district" />
                    </div>
                    <div class="input-field">
                        <label for="state">State</label>
                        <input id="state" formControlName="state" type="text" placeholder="Enter state" />
                    </div>
                    <div class="input-field">
                        <label for="country">Country</label>
                        <input id="country" formControlName="country" type="text" placeholder="Enter country" />
                    </div>
                    <div class="input-field">
                        <label for="school">School</label>
                        <select id="school" formControlName="school">
                            <option *ngFor="let school of availableSchools" [value]="school._id">{{ school.name }}</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="nextBtn" (click)="next()">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>

            <!-- Second Section: Professional Details -->
            <div class="details address" *ngIf="isSecondSectionActive">
                <span class="title">Professional Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label for="studentClass">Select Class</label>
                        <select id="studentClass" formControlName="studentClass">
                            <option *ngFor="let classItem of availableClasses" [value]="classItem._id">{{ classItem.classname }}</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="studentsubjects">Subjects</label>
                        <select id="studentsubjects" formControlName="studentsubjects" multiple>
                            <option *ngFor="let subject of availableSubjects" [value]="subject._id">{{ subject.subjectName }}</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="address">Address</label>
                        <textarea id="address" formControlName="address" rows="3" placeholder="Enter address"></textarea>
                    </div>
                    <div class="input-field">
                        <label for="photo">Photo</label>
                        <input id="photo" formControlName="photo" type="file" (change)="onFileSelect($event)" />
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="backBtn" (click)="back()">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </button>
                    <button type="submit" class="submit">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
