

.exam-portal-container {
  display: flex;
  position: absolute;
}
.question-section {
  width: 73vw;
  padding: 20px;
}


.sidebar {
  width: 25vw;
  padding: 20px;
  background-color: #f7f7f7;
}

.sidebar h2{
  
  border-radius: var(--border-radius-1);
  background: var(--color-light);
  padding: 10px;
}

.mark-btn {
  background-color: lightgreen;
}

.clear-btn {
  background-color: lightcoral;
}

.question-item.visited {
  background-color: lightblue;
}

.question-item.marked-as-read {
  background-color: lightyellow;
}

.exam-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 1.5rem;
}

.exam-header h1 {
  color: var(--color-primary);
  font-size: 1.8rem;
}

.btn {
  padding: 1rem 1rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-items: center;
}

.submit-exam-btn{
  padding: 1rem 1rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  background-color: var(--color-success);
  color: var(--color-white);
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
}
.exam-portal-heading{
  height: 70px;
  background-color: var(--color-primary-variant);
  width: 96vw;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: var(--color-primary-variant);
}

.time-status {
  margin-bottom: 20px;
  /* text-align: center; */
}

.exam-timer {
  font-size: 1.5rem;
  color: var(--color-danger);
  margin: 1.5rem;
}

.exam-questions {
  width: 100%;
  
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  margin-top: 20px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-heading{
  font-size: 1.6rem;
  word-spacing: 0.5rem;
}

.question-type{
  margin-top: 0.9rem;
}
.short-answer-textarea {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--color-dark-variant);
  resize: vertical;
  font-size: 1.4rem;
}

.short-answer-textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}

.word-left {
  color: var(--color-danger);
}

.questions-bar {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;
  margin-top: 1rem;
}
.questions-bar h2{
  /* text-align: center; */
  
}
.questions-list {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.5rem 0.9rem;
}
.summary{
  margin: 1.2rem 0;
}
.summary-count{
  display: flex;
  flex-direction: column;
  
  
  padding:10px;
  font-size: 1.2rem;
}
.summary-count div{
  margin: 20px;
}
.attemptedcount{
  padding: 15px;
  margin-top: 20px;
  background-color: var(--color-success);

}
.Unattemptedcount{
  padding:15px;
  margin-top: 20px;
  background-color: var(--color-danger);
}
.visitedcount{
  padding:15px;
  margin-top: 20px;
  background-color: var(--color-info-dark);
}

.question-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border-radius: 50%;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.question-item:hover {
  transform: scale(1.1);
}

.attempted {
  background-color: var(--color-success);
}

.not-attempted {
  background-color: var(--color-danger);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.option {
  display: flex;
  align-items: center;
}

.option input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: var(--color-primary);
}

.option label {
  background-color: var(--color-light);
  padding: 0.75rem;
  border-radius: var(--border-radius-1);
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.3rem ;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;

}

.option label:hover {
  background-color: var(--color-info-dark);
}

.selected-option {
  background-color: var(--color-success) !important;
  color: var(--color-white) !important;
}

.question-navigation {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  margin-bottom: 1.5rem;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: var(--color-white);
  padding: var(--padding-1);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  width: 90%;
  max-width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  background-color: transparent;
  border: none;
  color: var(--color-danger);
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
