<div class="teacher-cards-container">

    <div class="teacher-cards">
        <div *ngFor="let teacher of teachers" class="teacher-card">
            <div class="teacher-card-header">
                <img src="assets\images\profile-avatar.png" alt="{{ teacher.name }}" class="teacher-photo">
                <div class="teacher-info">
                    <h4>{{ teacher.name |  uppercase }}</h4>
                    <p>{{ teacher.email }}</p>
                </div>
            </div>
            <div class="teacher-card-body">
                <p><strong>Class:</strong> {{ teacher.teachingClasses[0].classname }}</p>
                <p><strong>Subject:</strong> {{ teacher.teachingSubjects[0].subjectName }}</p>
            </div>
            <div class="teacher-card-footer">
                <button (click)="viewTeacherDetails(teacher._id)">View</button>
                <button (click)="editTeacher(teacher._id)">Edit</button>
                <button (click)="deleteTeacher(teacher._id)" class="delete-btn">Delete</button>
            </div>
        </div>
    </div>
</div>
