<div *ngIf="allExams.length > 0; else noExams" class="exam-list">
    <div *ngFor="let exam of allExams" class="exam-card">
      <div class="card-header">
        <h3>{{ exam.examName }}</h3>
        <span class="difficulty-badge">{{ exam.examStatus | uppercase }}</span>
      </div>
      <div class="card-body">
        <p><strong>Date:</strong> {{ exam.examDate | date }}</p>
        <p><strong>Time:</strong> {{ exam.examTime }}</p>
        <p><strong>Duration:</strong> {{ exam.examDuration }} minutes</p>
        <p><strong>Negative Marking:</strong> {{ exam.negativeMarking }}</p>
        <p><button class="action-btn view-btn" (click)="examAssign(exam._id)">Assign Exam</button> <button class="action-btn view-btn" (click)="generateResult(exam._id)">Generate Result</button></p>

      </div>
      <div class="card-footer">
        <button class="action-btn view-btn">View Details</button>
        
        <button class="action-btn edit-btn" >Edit Exam</button>
        <button class="action-btn edit-btn" (click)="examQuestionsManage(exam._id)">Add Questions</button>
      </div>
    </div>
  </div>
  
  <ng-template #noExams>
    <p class="no-exams-message">No exams found.</p>
  </ng-template>
  
  
<div class="popup-container" *ngIf="isPopupVisible && selectedExamId">
  <div class="add_teacher">
    <app-exam-assign [examId]="selectedExamId"></app-exam-assign>
  </div>
  <button class="close-popup" (click)="closePopup()">Close</button>
</div>