<div class="student-cards-container">
    <h2>students List</h2>
    <div class="student-cards">
        <div *ngFor="let student of students" class="student-card">
            <div class="student-card-header">
                <img src="assets\images\profile-avatar.png" alt="{{ student.name }}" class="student-photo">
                <div class="student-info">
                    <h4>{{ student.name  }}</h4>
                    <p>{{ student.email }}</p>
                    <p><strong>Enrolment ID : {{student.enrollmentId}}</strong></p>
                </div>
            </div>
            <div class="student-card-body">
                <p><strong>Contact:</strong> {{ student.contactNumber }}</p>
                <p><strong>School:</strong> {{ student.school.name }}</p>
            </div>
            <div class="student-card-footer">
                <button (click)="viewStudentDetails(student._id)">View</button>
            </div>
        </div>
    </div>
</div>
