<!-- Loading Indicator -->
<div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Please wait.... Teacher Registaring</p>
</div>
<div class="form-container">
    <h3>Teacher Registration</h3>
    <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()" class="form">
        <div class="details">
            <!-- First Section: Personal Details -->
            <span class="title">Personal Details</span>
            <div class="fields">
                <div class="input-field">
                    <label for="name">Name</label>
                    <input id="name" formControlName="name" type="text" placeholder="Enter name" />
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email" placeholder="Enter email" />
                </div>

                <div class="input-field">
                    <label for="teachingClasses">Teaching Classes</label>
                    <select id="teachingClasses" formControlName="teachingClasses" multiple>
                        <option *ngFor="let classItem of availableClasses" [value]="classItem._id">{{
                            classItem.classname }}</option>
                    </select>
                </div>

                <div class="input-field">
                    <label for="teachingSubjects">Subjects</label>
                    <div class="custom-multi-select">
                        <select id="teachingSubjects" formControlName="teachingSubjects" multiple>
                            <option *ngFor="let subject of availableSubjects" [value]="subject._id">{{
                                subject.subjectName }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="buttons">
                <button type="submit" class="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>
</div>