<p class="reset-password-heading">Reset Password</p>
<div class="reset-password-container">
    <h2>Reset Password</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
            <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid"
                class="error-message">
                <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">New Password is
                    required</small>
                <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">Password must be at least 6
                    characters long</small>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" />
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid"
                class="error-message">
                <small *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">Confirm Password is
                    required</small>
                <small *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('mismatch')">Passwords do not
                    match</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>

        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </form>
</div>