<div class="container  main-banner">


  <div *ngIf="errorMessage" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h3 class="modal-title">Error</h3>
        <button class="modal-close-button" (click)="errorMessage = ''">Close</button>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>

  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" required />
      </div>
      <div class="input-field">
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" required />
      </div>
      <button class="btn" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="additional-links">
      <button class="link-btn" (click)="onForgotPassword()">Forgot Password?</button>
      <button class="link-btn" (click)="onSignUp()">Sign Up</button>
    </div>
  </div>
</div>