<div class="container  main-banner">

  <div class="forgot-password-container">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" formControlName="email" class="form-control" />
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">
          <small *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</small>
          <small *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Enter a valid email</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>

      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </form>
    <div class="additional-links">
      <button class="link-btn" (click)="onSignIn()">Sign In</button>
    </div>
  </div>


</div>