
<div class="recent-updates">
    <h2>Recent Updates</h2>
    <div class="updates">
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
    </div>
</div>
<div class="results">
    <h2>Results</h2>
    <div class="result-col" *ngFor="let item of resultDtl">
        <div class="icon">
            <span class="material-icons-sharp active">task</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>{{item.examId.examName}}</h3>
                <small class="text-muted">{{item.userResults[0].user.studentClass[0].classname}} </small>
                <small class="text-muted"> {{item.userResults[0].user.studentsubjects[0].subjectName}}</small>
            </div>
            <h5 class="success" (click)="downloadExcel(item.examId._id)">Click here</h5>
        </div>
    </div>
</div>
