
<div class="recent-updates">
    <h2>Recent Updates</h2>
    <div class="updates">
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
        <div class="update">
            <div class="profile-photo">
                <img src="" alt="">
            </div>
            <div class="message">
                <p><b>Kalyan</b>exam begins in 50 minutes</p>
                <small class="text-muted">2 Minutes Ago</small>
            </div>
        </div>
    </div>
</div>
<div class="results">
    <h2>Results</h2>
    <div class="result-col">
        <div class="icon">
            <span class="material-icons-sharp active">task</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Statistics</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">Click here</h5>
        </div>
    </div>
    <div class="result-col">
        <div class="icon">
            <span class="material-icons-sharp active">task</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Statistics</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">Click here</h5>
        </div>
    </div>
    <div class="result-col">
        <div class="icon">
            <span class="material-icons-sharp active">task</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Statistics</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">Click here</h5>
        </div>
    </div>
    <div class="result-col">
        <div class="icon">
            <span class="material-icons-sharp active">task</span>
        </div>
        <div class="right">
            <div class="info">
                <h3>Statistics</h3>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <h5 class="success">Click here</h5>
        </div>
    </div>
</div>
