.assigned-exam-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--color-dark);
  }
  
  .assigned-exam-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-info-light);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
  }
  
  .assigned-exam-table th,
  .assigned-exam-table td {
    border: 1px solid var(--color-info-light);
    padding: 1rem;
    text-align: left;
    color: var(--color-dark-variant);
  }
  
  .assigned-exam-table th {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
  }
  
  .assigned-exam-table tbody tr:nth-child(even) {
    background-color: var(--color-info-light);
  }
  
  .action-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-button:hover {
    background-color: var(--color-primary-variant);
  }
  
  .completed-exam-message {
    text-align: center;
    color: var(--color-success);
    font-weight: 500;
  }
  
  .no-data-message {
    text-align: center;
    color: var(--color-danger);
    font-weight: 500;
    margin-top: 2rem;
  }
  

  /* .popup-container{
    margin: auto;
    display: flex;
    
    box-sizing: border-box; 
    
    
  } */
  
  .popup-dtl{
    
    width: 900px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 2rem;
    border-radius: var(--border-radius-2);
    
  }

  .popup-title{
   
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

  }
  .popup-body{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;

  }
  .popup-body-value{
    display: flex;
    border: 1px groove rgb(187, 182, 182);
    
  }
  .popup-body-head{
    padding: 1rem 5rem;
    border-right: 1px groove rgb(187, 182, 182);
    
  }
  .popup-body-info{
    
   text-align: center;
    
  }


  