<h1 class="assigned-exam-title">Assigned Exam Details</h1>
<div *ngIf="stdexamdtl && stdexamdtl.assignedExams.length > 0; else noData">
  <table class="assigned-exam-table">
    <thead>
      <tr>
        <th>Exam Name</th>
        <th>Status</th>    
        <th>Exam Date & Time</th>
        <th>Exam Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of stdexamdtl.assignedExams">
        <td>{{ exam.examId.examName }}</td>
        <td>{{ exam.status }}</td>

        <td>{{ exam.examId.examDate | date }} || {{exam.examId.examTime}} </td>
        <td>{{ exam.examId.examDuration  }} Minutes</td>
        <td *ngIf="exam.status =='pending'; else startexam">
          <button (click)="startExam(exam.examId._id)" class="action-button">Start Exam</button>
        </td>
        <ng-template #startexam>
          <button class="action-button">View Result</button>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p class="no-data-message">No assigned exams found.</p>
</ng-template>
