<h1>Dashboard</h1>
<div class="insights">
    <div class="teacher_data">
        <span class="material-icons-sharp">analytics</span>
        <div class="middle">
            <div class="left">
                <h3>Total Teachers</h3>
                <h1>{{totalTeachers}}</h1>
            </div>
            
        </div>
        <small class="text-muted"></small>
    </div>
    <!-- END OF TOTAL TEACHERS -->
    <div class="student_data">
        <span class="material-icons-sharp">bar_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Total Students</h3>
                <h1>{{totalStudents}}</h1>
            </div>
            <!-- <div class="progress">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                    <p>100%</p>
                </div>
            </div> -->
        </div>
        <small class="text-muted"></small>
    </div>
</div>
<!-- END OF TOTAL STUDENTS -->
<div class="recent-exams">
    <h2>Recent Exams</h2>
    <table>
        <thead>
            <tr>
                <th>Exam Name</th>
                <th>Exam ID</th>
                <th>Total Enrolled Students</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Accounts</td>
                <td>11001</td>
                <td>150</td>
                <td class="success">Completed</td>
                <td class="primary">Details</td>
            </tr>
        </tbody>
    </table>
    <a href="#">Show All</a>
</div>